<div id="current">
  <%= render 'shared/current_user' %>
</div>
<div class="modal indicate" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuenow="0" aria-valuemax="100">
        <span class="sr-only">45% Complete</span>
      </div>
    </div>
  </div>
</div>
<h1>1/ Add Media</h1>
<div class="row" id="new_meme">
  <div class="col-md-6">
    <div id="canvasContainer">
      <div style="z-index:-1;">Drop files here</div>
      <canvas id="memecanvas" width="100%" />
    </div>
    <canvas id="rawimage" width="100%" style="display:none;"></canvas>
    <% if @raw_image %>
      <%= image_tag @raw_image, :class => 'mfnotransform', :id => 'default-image', :crossOrigin => '' %>
    <% elsif @copied_image %>
      <%= image_tag @copied_image, :class => 'mfnotransform', :id => 'default-image', :crossOrigin => '' %>
    <% else %>
      <img src="" id="default-image" class="mfnotransform" crossorigin="anonymous">
    <% end %>
  </div>
  <div class="col-md-6" id="controls">
    <div class="form-group">
      <span class="btn btn-default btn-file">
        <span class="glyphicon glyphicon-upload"></span>
        Upload image <%= file_field(:image, :meme) %>
      </span>
    </div>
    <div class="form-group">
      Scale&nbsp;<input id='scale' type='range' min='0.05' max='4' value='1' step='0.01' style="width:40%"/>
    </div>
    <div class="form-group">
      <% if @top_line %>
        <%= text_field_tag 'topLine', @top_line, :onkeyup => 'doTransform()', :maxlength => '24', :class => 'form-control' %>
      <% else %>
        <input type='text' placeholder='TOP LINE' id='topLine' onkeyup='doTransform()' oninput='doTransform' onpaste='doTransform' class="form-control" maxlength="24" />
      <% end %>
    </div>
    <div class="form-group">
      <% if @bottom_line %>
        <%= text_field_tag 'bottomLine', @bottom_line, :onkeyup => 'doTransform()', :maxlength => '24', :class => 'form-control' %>
      <% else %>
        <input type='text' placeholder='BOTTOM LINE' id='bottomLine' onkeyup='doTransform()' oninput='doTransform' onpaste='doTransform' class="form-control" maxlength="24" />
      <% end %>
    </div>
    <label>Text colour</label>
    <br>
    <div class="btn-group" data-toggle="buttons">
      <%= label_tag "black", :class => "btn btn-default colour", :data => {:colour => "#000000"} do %>
        BLACK
        <%= radio_button_tag "colour", "#000000", @meme.colour && @meme.colour == "#000000" ? true : false %>
      <% end %>
      <%= label_tag "white", :class => "btn btn-default colour", :data => {:colour => "#ffffff"} do %>
        WHITE
        <%= radio_button_tag "colour", "#ffffff", @meme.colour && @meme.colour == "#ffffff" ? true : false %>
      <% end %>
    </div>
    <br>
    <br>
    <label>Tags</label>
    <div class="form-group">
      <%= hidden_field_tag "meme[category_ids][]", nil %>
      <% Category.all.each do |category| %>
        <div class="btn-group" data-toggle="buttons">
          <%= label_tag dom_id(category), :class => "btn btn-default" do %>
            <span class="glyphicon glyphicon-tag"></span> <%= category.name %>
            <%= check_box_tag "meme[category_ids][]", category.id, @meme.category_ids.include?(category.id), id: dom_id(category) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<h1>2/ Write your article <span>(optional)</span></h1>
<%= bootsy_area 'meme', 'article', value: @meme.article, class: 'form-control', rows: 12  %>
<br><br>
<div class="form-group">
  <button id="download" class="btn btn-primary">
    Submit
  </button>
</div>