<%= form_for(@meme, :multipart => true) do |f| %>
  <% if @meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
      <% @meme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <canvas id="memecanvas">
    Sorry, canvas not supported
  </canvas>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <input type='text' value='enter some text' id='custom-text' />
  </div>
  <div class="actions">
    <%= f.submit "Create meme", :id => "download" %>
  </div>
<% end %>

<script>
  function imageLoader(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        img = new Image();
        img.onload = function(){
          ctx.drawImage(img,0,0);
        }
        img.src = reader.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  function doTransform(input) {
    ctx.lineWidth  = 5;
    ctx.font = '20pt sans-serif';
    ctx.strokeStyle = 'black';
    ctx.fillStyle = 'white';
    ctx.textAlign = 'center';

    var text = input.value;
    text = text.toUpperCase();
    x = canvasElement.width/2;
    y = canvasElement.height - canvasElement.height/4.5;
    ctx.strokeText(text, x, y);
    ctx.fillText(text, x, y);
  }

  function dataURLtoBlob(dataURL) {

    // Decode the dataURL
    var binary = atob(dataURL.split(',')[1]);

    // Create 8-bit unsigned array
    var array = [];
    for(var i = 0; i < binary.length; i++) {
      array.push(binary.charCodeAt(i));
    }

    // Return our Blob object
    return new Blob([new Uint8Array(array)], {type: 'image/png'});
  }

  $(function(){
    var canvas = $("#memecanvas")[0];
    ctx = canvas.getContext('2d');

    var deviceWidth = window.innerWidth;
    canvasElement = canvas;
    canvasWidth = Math.min(600, deviceWidth-20);
    canvasHeight = Math.min(480, deviceWidth-20);

    canvas.width = canvasWidth;
    canvas.height = canvasHeight;

    $("#meme_image").change(function(){
      imageLoader(this);
    });

    $("#custom-text").change(function(){
      doTransform(this);
    });

    $("form").submit(function() {
      var values = canvas.toDataURL("image/png;base64;");
      var file   = dataURLtoBlob(values);
      var fd = new FormData();
      fd.append("image", file);
      $.ajax({
        url: $(this).attr('action'),
        type: "POST",
        dataType: "JSON",
        data: fd,
        processData: false,
        contentType: false,
        success: function(data) {
          window.location.href = data.location
        }
      });
      return false;
    });
  });
</script>