<% memes.each do |meme| %>
  <div class="meme">
    <div class="meme-inner">
      <%= image_tag meme.image %>
      <ul class="menu">
        <% if meme.article.length > 0 %>
          <li><%= link_to 'READ', meme %></li>
        <% else %>
          <li><%= link_to 'VIEW', '#', :class => 'lightbox', data: {:image => meme.image, :url => meme_url(meme)} %></li>
        <% end %>
        <li><%= link_to 'REMIX', new_meme_url(:raw_image => meme.raw_image) %></li>
      </ul>
    </div>
    <% if meme.user %>
      <%= link_to meme.user do %><%= meme.user.username %><% end %>
    <% end %>
    <span class="actions">
      <span class="views">
        <span class="glyphicon glyphicon-eye-open"></span> <%= meme.impressionist_count %>
      </span>
      <span class="comments">
        <span class="glyphicon glyphicon-comment"></span> <%= meme.comments.count %>
      </span>
      <span class="like" id="meme_<%= meme.id %>">
        <%= render partial: 'memes/like', locals: {meme: meme} %>
      </span>
    </span>
  </div>
<% end %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" alt="" width="100%" class="modal-meme">
        <div class="social-links">
          <span class="fb-share-button" data-href="" data-type="button_count"></span>
          <span class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
          <span>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="" data-text="This is what I'm sharing">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </span>
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="medium"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
          </span><a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a></span>
          <script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=5"></script>
        </div>
      </div>
    </div>
  </div>
</div>