<% memes.each do |meme| %>
  <div class="meme">
    <div class="meme-inner">
      <div class="overlay"></div>
      <%= image_tag meme.image %>
      <ul class="menu">
        <li><%= link_to 'READ', meme %></li>
        <li><%= link_to 'REMIX', new_meme_url(:raw_image => meme.raw_image) %></li>
      </ul>
    </div>
    <% if meme.user %>
      <%= link_to meme.user do %><%= meme.user.username %><% end %>
    <% end %>
    <span class="actions">
      <span class="views">
        <span class="glyphicon glyphicon-eye-open"></span> <%= meme.impressionist_count %>
      </span>
      <span class="comments">
        <span class="glyphicon glyphicon-comment"></span> <%= meme.comments.count %>
      </span>
      <span class="like" id="meme_<%= meme.id %>">
        <%= render partial: 'memes/like', locals: {meme: meme} %>
      </span>
    </span>
  </div>
<% end %>