<% memes.each do |meme| %>
  <div class="meme">
    <div class="meme-inner">
      <%= link_to meme do %>
        <%= image_tag meme.image, :alt => meme.alt_tag %>
      <% end %>
    </div>
    <%= link_to username_path(meme.user.username) do %>
      <%= meme.user.username %>
    <% end %>
    <span class="actions">
      <% if meme.user == current_user || current_admin %>
        <%= link_to '', meme, :method => :delete, :class => "glyphicon glyphicon-trash",  data: {confirm: "Are you sure you want to delete this article?"} %>
      <% end %>
      <% if current_admin %>
        <% if meme.featured %>
          <%= link_to meme_unfeature_path(meme), :method => :delete, :class => "feature" do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        <% else %>
          <%= link_to meme_feature_path(meme), :method => :post, :class => "feature" do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        <% end %>
      <% end %>
      <span class="views">
        <span class="glyphicon glyphicon-eye-open"></span> <%= meme.impressionist_count %>
      </span>
      <% if meme.article.length > 0 %>
        <span class="comments">
          <span class="glyphicon glyphicon-comment"></span> <%= meme.comments.count %>
        </span>
      <% end %>
      <span class="like" id="meme_<%= meme.id %>">
        <%= render partial: 'memes/like', locals: {meme: meme} %>
      </span>
    </span>
  </div>
<% end %>