<% content_for :title do %>Create your article | <% end %>
<%= render 'form' %>
<div style="font-family: MyriadPro-BoldCond;text-indent:-9999px">.</div>
<script>

  $('input[type="checkbox"]:checked').each(function(){
      $(this).parents('label').toggleClass('active');
  });

  $('input[type="radio"]:checked').each(function(){
      $(this).parents('label').toggleClass('active');
  });

  var canvas;
  var rawimage;
  var canvasWidth;
  var ctx;
  var x;
  var y;
  var fileInput;
  var img;

  window.onload = function() {
    prepareExample();
  }

  function prepareExample() {
    img = document.getElementById('default-image');
    img.crossOrigin = 'http://profile.ak.fbcdn.net/crossdomain.xml';

    var deviceWidth = window.innerWidth;
    canvasWidth = 958;
    canvasHeight = 721;
    canvas = document.getElementById('memecanvas');
    rawimage = document.getElementById('rawimage');

    canvas.width = canvasWidth;
    canvas.height = canvasHeight;
    rawimage.width = canvasWidth;
    rawimage.height = canvasHeight;

    ctx = canvas.getContext("2d");
    raw_ctx = rawimage.getContext("2d");

    x = canvas.width/2 - img.width/2;
    y = canvas.height/2 - img.height/2;

    ctx.drawImage(img, x, y);
    raw_ctx.drawImage(img, x, y);

    ctx.textAlign = 'center';
    ctx.font = '64pt MyriadPro-BoldCond';
    if (ctx.fillStyle === '#ffffff') {
      ctx.strokeStyle = 'black';
      ctx.lineWidth  = 4;
    } else {
       ctx.strokeStyle = 'white'
       ctx.lineWidth = 4;
    }
    if ('<%= @meme.colour %>') {
      ctx.fillStyle = '<%= @meme.colour %>';
    } else {
      ctx.fillStyle = '#000';
    }

    doTransform();

    drop = function(evt) {
      evt.target.previousElementSibling.classList.add('dropped');
      evt.stopPropagation();
      evt.preventDefault();
      var reader = new FileReader();
      reader.onload = function(event){
        img = new Image();
        img.onload = function() {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          raw_ctx.clearRect(0, 0, canvas.width, canvas.height);
          document.getElementById('scale').value = 1;
          x = canvas.width/2 - img.width/2;
          y = canvas.height/2 - img.height/2;

          ctx.drawImage(img, x, y);
          raw_ctx.drawImage(img, x, y);
          doTransform();
        }
        img.src = reader.result;
      }
      reader.readAsDataURL(evt.dataTransfer.files[0]);
      evt.target.classList.remove("hover");
    }

    dragEnter = function(evt) {
      evt.stopPropagation();
      evt.preventDefault();
      evt.target.classList.add("hover");
    }
    dragExit = function(evt) {
      evt.stopPropagation();
      evt.preventDefault();
      evt.target.classList.remove("hover");
    }
    dragOver = function(evt) {
      evt.stopPropagation();
      evt.preventDefault();
    }

    canvas.addEventListener("dragenter", dragEnter, false);
    canvas.addEventListener("dragleave", dragExit, false);
    canvas.addEventListener("dragover", dragOver, false);
    canvas.addEventListener("drop", drop, false);

    fileInput = document.getElementById("image_meme");
    fileInput.addEventListener('change', function(e) {
      canvas.classList.add('dropped');
      var reader = new FileReader();
      reader.onload = function(event){
        img = new Image();
        img.onload = function() {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          raw_ctx.clearRect(0, 0, canvas.width, canvas.height);
          document.getElementById('scale').value = 1;
          x = canvas.width/2 - img.width/2;
          y = canvas.height/2 - img.height/2;

          ctx.drawImage(img, x, y);
          raw_ctx.drawImage(img, x, y);
          doTransform();
        }
        var uploadedFile = e.target.files[0];
        canvasResize(uploadedFile, {
        width: 958,
        height: 0,
        crop: false,
        quality: 100,
        callback: function(data, width, height) {
          img.src = data;
        }
        });
        img.src = reader.result;
      }
      reader.readAsDataURL(fileInput.files[0]);
    }, false);

    //$('body').on('shown.bs.modal', '.modal', function () {
      $("#continue").click(function () {
        $("#download").trigger("click", "continue");
      });
    //});


    $("#download").on('click', function(e, continueSubmission) {
      var image_meme = $("#image_meme")[0].files[0];
      var data = canvas.toDataURL("image/png;base64;");
      var imgurdata = data.replace(/^data:image\/(png|jpg);base64,/, "");
      var fd = new FormData();
      var authorization = 'Client-ID d84ae3d33cf9385';
      var raw_data = rawimage.toDataURL("image/png;base64;");
      var file = dataURLtoBlob(data);
      var raw_file = dataURLtoBlob(raw_data);
      var article = $("#meme_article").val();
      var topLine = $("#topLine").val().toUpperCase();
      var bottomLine = $("#bottomLine").val().toUpperCase();
      var categories = $("input[type='checkbox']:checked");
      var arr = [];
      if ($("input[type='radio']:checked").length > 0) {
        var colour = $("input[type='radio']:checked")[0].value;
      } else {
        var colour = "#000000";
      }

      categories.each(function(){
        arr.push($(this).val());
      });

      var categoryIdsArray = arr;

      if (image_meme) {
        var raw_image = $("#image_meme")[0].files[0];
      } else {
        var copied_image = $("#default-image").attr('src');
      }

      fd.append("image", file);
      fd.append("colour", colour);
      fd.append("top_line", topLine);
      fd.append("bottom_line", bottomLine);
      fd.append("article", article);
      fd.append("raw_image", raw_file);
      fd.append("copied_image", copied_image);
      fd.append("category_ids", categoryIdsArray);

      //debugger

      if (img.src.indexOf('data:image') > -1) {
        $('.indicate').modal('show');
        var current_user = $("#current_user").val();
        if (current_user != "{:value=>nil}" || continueSubmission) {
          $.when(
            $.ajax({
              url: 'https://api.imgur.com/3/image',
              dataType: "JSON",
              type: 'POST',
              headers: {
                Authorization: authorization,
                Accept: 'application/json'
              },
              data: {
                image:  imgurdata,
                title: topLine + " - " + bottomLine
              },
              xhrFields: {
                onprogress: function (e) {
                  if (e.lengthComputable) {
                    $(".progress-bar").width(e.loaded / e.total * 100 + '%').attr('aria-valuenow', e.loaded / e.total * 100 + '%');
                  }
                }
              },
              success: function(result) {
                var imgur_url = 'http://imgur.com/' + result.data.id;
                var deletehash = result.data.deletehash;
                fd.append("imgur_url", imgur_url);
                fd.append("deletehash", deletehash);
              }
            })
          ).then(function() {
            sendRequest(fd);
          });
        } else {
          $("#myModal").modal('show');
        }
      } else {
        alert("Please upload and image");
      }
    });

    scale = document.getElementById('scale');
    scale.addEventListener('change', doTransform, false);
    colour = $('.colour');
    colour.click(function() {
      $("input[type='radio']").parent().removeClass("active");
      ctx.fillStyle = $(this).data('colour');
      doTransform();
    });

    ctx.textAlign = 'center';
    ctx.font = '64pt MyriadPro-BoldCond';
    if (ctx.fillStyle === '#ffffff') {
      ctx.strokeStyle = 'black';
      ctx.lineWidth  = 4;
    } else {
      ctx.strokeStyle = 'white';
      ctx.lineWidth  = 4;
    }
    if ('<%= @meme.colour %>') {
      ctx.fillStyle = '<%= @meme.colour %>';
    } else {
      ctx.fillStyle = '#000';
    }
  }

  function sendRequest(fd) {

    request = $.ajax({
      url: '/memes',
      xhrFields: {
        onprogress: function (e) {
          if (e.lengthComputable) {
            $(".progress-bar").width(e.loaded / e.total * 100 + '%').attr('aria-valuenow', e.loaded / e.total * 100 + '%');
          }
        }
      },
      type: "POST",
      dataType: "JSON",
      data: fd,
      cache: false,
      processData: false,
      contentType: false
    });

    request.done(function (response, textStatus, jqXHR){
      window.location.href = '/memes/'+response.id;
    });

  }

  function dataURLtoBlob(dataURL) {

    // Decode the dataURL
    var binary = atob(dataURL.split(',')[1]);

    // Create 8-bit unsigned array
    var array = [];
    for(var i = 0; i < binary.length; i++) {
      array.push(binary.charCodeAt(i));
    }

    // Return our Blob object
    return new Blob([new Uint8Array(array)], {type: 'image/png'});
  }

  function doTransform() {
    ctx.save();
    raw_ctx.save();
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    raw_ctx.clearRect(0, 0, canvas.width, canvas.height);

    ctx.translate(canvas.width/2, canvas.height/2);
    raw_ctx.translate(canvas.width/2, canvas.height/2);

    var val = document.getElementById('scale').value;
    ctx.scale(val, val);
    raw_ctx.scale(val, val);

    ctx.translate(-canvas.width/2, -canvas.height/2);
    raw_ctx.translate(-canvas.width/2, -canvas.height/2);

    ctx.drawImage(img, x, y);
    raw_ctx.drawImage(img, x, y);

    ctx.restore();
    raw_ctx.restore();

    createText();
  }

  function createText() {
    topLine = document.getElementById('topLine').value;
    topLine = topLine.toUpperCase();
    bottomLine = document.getElementById('bottomLine').value;
    bottomLine = bottomLine.toUpperCase();

    wrapText(ctx, topLine, canvas.width/2, 80, canvasWidth-canvasWidth/6, 30);

    wrapText(ctx, bottomLine, canvas.width/2, canvas.height - 20, canvasWidth-canvasWidth/6, 30);
  }

  function wrapText(ctx, text, x, y, maxWidth, lineHeight) {
    var words = text.split(' ');
    var line = '';

    for(var n = 0; n < words.length; n++) {
      var testLine = line + words[n] + ' ';
      var metrics = ctx.measureText(testLine);
      var testWidth = metrics.width;
      if (testWidth > maxWidth && n > 0) {
        ctx.strokeText(line, x, y);
        ctx.fillText(line, x, y);
        line = words[n] + ' ';
        y += lineHeight;
      }
      else {
        line = testLine;
      }
    }
    if (ctx.fillStyle === '#ffffff') {
      ctx.strokeStyle = 'black';
      ctx.lineWidth  = 4;
    } else {
      ctx.strokeStyle = 'white';
      ctx.lineWidth  = 4;
    }
    ctx.strokeText(line, x, y);
    ctx.fillText(line, x, y);
  }
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>You're almost finished</h1>
        <div class="btn-group btn-group-justified btn-group-lg">
          <a href="<%= new_user_session_path %>?login=true" data-toggle="modal" data-dismiss="modal" data-target="#login" class="btn btn-default">Log in to post as a user</a>
          <a href="<%= new_user_registration_path %>?login=true" data-toggle="modal" data-dismiss="modal" data-target="#register" class="btn btn-default">Register for an account</a>
        </div>
        <hr>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" id="continue">Submit as a guest</button>
      </div>
    </div>
  </div>
</div>