<div class="row" id="meme">
  <div class="col-md-9" id="left">
    <%= image_tag @meme.image, :width => "100%" %>
    <div class="details">
      <span>By <%= @meme.user.username %></span> | <span><%= @meme.created_at.to_formatted_s(:month_and_year) %></span>
    </div>
    <div class="social-links">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_20x20_style" addthis:url="<%= @meme_url %>"
      addthis:title="An Example Title"
      addthis:description="An Example Description">
      <a class="addthis_counter_facebook"></a>
      <a class="addthis_counter_twitter"></a>
      <a class="addthis_counter_google"></a>
      <a class="addthis_counter_tumblr"></a>
      <a class="addthis_counter_reddit"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5015a9a0733e9218"></script>
      <!-- AddThis Button END -->
    </div>
    <div id="article">
      <%= raw(@meme.article) %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Comments</h3>
    <div id="comments">
      <ul>
        <% for comment in @comments %>
          <li class="comment">
            <% if comment.user %>
              <%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(comment.user.email.downcase)}.png?s=48" %>
              <div class="text">
                <h4><%= link_to comment.user do %>
                  <%= comment.user.username %>
                <% end %>
                </h4>
                <p><%= comment.comment %></p>
                <p class="date"><%= comment.created_at.to_formatted_s(:month_and_year) %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_user %>
      <hr>
      <%= link_to 'Add comment', '', :class => 'btn btn-default btn-sm', :data => {:target => '#commentModal', :toggle => 'modal'} %>
      <% end %>
    </div><br>
    <h3>More from this artist</h3>
    <%= render partial: 'memes/memes', locals: {memes: @memes} %>
  </div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for [@meme, @comment] do |f| %>
          <%= f.text_area :comment, :class => 'form-control' %>
          <br>
          <%= f.submit 'Submit', :class => 'btn btn-default btn-sm' %>
        <% end %>
    </div>
  </div>
</div>