<%= @meme.votes.count %> likes
<div class="row">
  <div class="col-md-8">
    <%= tweet_button %>
    <%= like_button(568398906591962) %>
    <%= pinit_button %>
    <%= image_tag @meme.image %>
    <%= raw(@meme.article) %>
  </div>
</div>