<div class="row" id="meme">
  <div class="col-md-9" id="left">
    <%= image_tag @meme.image, :width => "100%" %>
    <div class="details">
      <span>By <%= @meme.user.username %></span> | <span><%= @meme.created_at.to_formatted_s(:month_and_year) %></span>
    </div>
    <div class="social-links">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_20x20_style" addthis:url="<%= @meme_url %>"
      addthis:title="An Example Title"
      addthis:description="An Example Description">
      <a class="addthis_counter_facebook"></a>
      <a class="addthis_counter_twitter"></a>
      <a class="addthis_counter_google"></a>
      <a class="addthis_counter_tumblr"></a>
      <a class="addthis_counter_reddit"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5015a9a0733e9218"></script>
      <!-- AddThis Button END -->
    </div>
    <div id="article">
      <%= raw(@meme.article) %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Comments</h3>
    <div id="comments">
      <ul>
        <% for comment in @comments %>
          <li>
              <% if comment.user %>
                <%= image_tag "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(comment.user.email.downcase)}.png?s=48" %>
                <%= link_to comment.user do %>
                  <%= comment.user.username %>
                <% end %>
              <% end %>
              <%= comment.comment %>
          </li>
        <% end %>
      </ul>
      <%= form_for [@meme, @comment] do |f| %>
        <%= f.text_area :comment, :class => 'form-control' %>
        <%= f.submit 'Submit', :class => 'btn btn-default' %>
      <% end %>
    </div><br>
    <h3>Similar</h3>
  </div>
</div>