<!DOCTYPE html>
<html>
<head>
  <title>World Edit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <% if @meme %>
    <meta property="og:image" content="<%= @meme.image %>" />
  <% end %>
</head>
<body<%= " id=#{@body_id}" if @body_id %>>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=568398906591962";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script src="http://platform.tumblr.com/v1/share.js"></script>
  <div class="container">
    <nav class="navbar" id="user-actions">
      <ul class="nav">
        <% if admin_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <li>
              <%= link_to('Edit', edit_user_registration_path) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
            <li>
              <%= link_to('Register', new_user_registration_path)  %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
  <header>
    <%= link_to root_url do %>
      <%= image_tag "logo.gif", :id => 'logo', :width => "64" %>
    <% end %>
  </header>
  <nav class="navbar">
    <div class="container">