<nav class="navbar" id="user-actions">
  <ul class="nav">
    <% if admin_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <li>
          <%= link_to('Profile', current_user.user_profile_name) %>
        </li>
      <% else %>
        <li id="login-button">
          <%= link_to 'Login', new_user_session_path, :data => {:toggle => 'modal', :target => '#login'}  %>
        </li>
        <li id="register-button">
          <%= link_to 'Register', new_user_registration_path, :data => {:toggle => 'modal', :target => '#register'}  %>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>