<!DOCTYPE html>
<html>
<head>
  <title>Whitestream</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
</head>
<body<%= " id=#{@body_id}" if @body_id %>>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=568398906591962";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script src="http://platform.tumblr.com/v1/share.js"></script>
  <div class="container">
    <div style="position:absolute;">
      <% if @user.profile_picture_url %>
        <% if current_user && current_user == @user %>
          <%= link_to edit_user_registration_path do %>
            <div class="glyphicon glyphicon-camera" style="position:absolute;color:white;font-size:20px;bottom:5px;left:5px;top: inherit;text-shadow:0 0px 10px rgba(0, 0, 0, 1);"></div>
          <% end %>
        <% end %>
        <%= image_tag @user.profile_picture_url(:thumb), :width => 100 %>
      <% end %>
    </div>
    <nav class="navbar" id="user-actions">
      <ul class="nav">
        <% if admin_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <li>
              <%= link_to('Edit', edit_user_registration_path) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
            <li>
              <%= link_to('Register', new_user_registration_path)  %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
  <header>
    <%= link_to root_url do %>
      <%= image_tag "logo.gif", :id => 'logo', :width => "64" %>
    <% end %>
  </header>
  <nav class="navbar">
    <div class="container">
      <ul class="nav navbar-left navbar-nav">
        <li class="dropdown">
          <%= link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
            <b class="caret"></b> <span class="desc">Show all</span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Show all', fetch_all_path, :remote => true %></li>
            <li><%= link_to 'NEWS', fetch_items_path(:category => 'News'), :remote => true %></li>
            <li><%= link_to 'SHOWBIZ', fetch_items_path(:category => 'Showbiz'), :remote => true %></li>
            <li><%= link_to 'FASHION', fetch_items_path(:category => 'Fashion'), :remote => true %></li>
            <li><%= link_to 'MUSIC', fetch_items_path(:category => 'Music'), :remote => true %></li>
            <li><%= link_to 'IDEAS', fetch_items_path(:category => 'Ideas'), :remote => true %></li>
            <li><%= link_to 'POPULAR', fetch_popular_items_path, :remote => true %></li>
          </ul>
        </li>
      </ul>