  <%= render 'shared/site_header' %>
  <%= render 'shared/top_nav' %>
</div>
<%= render 'shared/logo' %>
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-left">
      <li>&nbsp;</li>
    </ul>
    <%= render 'shared/navbar_right' %>
  </div>
</nav>
<%= render 'shared/navbar_right' %>
<%= render 'shared/content' %>
<%= render 'shared/site_footer' %>