<%= render 'shared/homeheader' %>
      <ul class="nav navbar-center">
        <li><%= link_to "World Edit", root_url %></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "Contribute", new_meme_url %></li>
      </ul>
    </div>
  </nav>
  <div id="wrap">
    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div id="pagination">
      <div class="container">
        <% if @memes.previous_page %>
          <%= link_to "< Previous", params.merge(page: @memes.previous_page), :class => "prev" %>
        <% end %>
        <% if @memes.next_page %>
          <%= link_to "Next >", params.merge(page: @memes.next_page), :class => "next" %>
        <% end %>
      </div>
    </div>
    <div class="container">
    <a href="mailto:we.worldedit@gmail.com" id="contact">CONTACT US</a>
      <p class="copyright">
        &copy; 2014 WE media.
      </p>
    </div>
  </footer>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" alt="" width="100%" class="modal-meme">
          <div id="social-share-buttons">
            <span id="like"></span>
            <span id="tweet"></span>
            <span id="plusone"></span>
            <span id="tumblr"></span>
            <div id="reddit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>