  <%= render 'shared/site_header' %>
  <div id="nav">
    <%= render 'shared/top_nav' %>
  </div>
</div>
<%= render 'shared/logo' %>
<nav class="navbar">
  <div class="container">
    <%= render 'shared/filter' %>
    <ul class="nav navbar-center">
      <li class="username">a new news site</li>
    </ul>
    <%= render 'shared/navbar_right' %>
  </div>
</nav>
<%= render 'shared/content' %>
<%= render 'shared/site_footer' %>
<%= render 'shared/auth' %>