<%= render 'shared/userheader' %>
      <ul class="nav navbar-center">
        <li><%= link_to @username, root_url %></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "Contribute", new_meme_url %></li>
      </ul>
    </div>
  </nav>
  <div id="wrap">
    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <footer>
    <div id="pagination">
      <div class="container">
        <% if @memes.previous_page %>
          <%= link_to "< Previous", params.merge(page: @memes.previous_page), :class => "prev" %>
        <% end %>
        <% if @memes.next_page %>
          <%= link_to "Next >", params.merge(page: @memes.next_page), :class => "next" %>
        <% end %>
      </div>
    </div>
    <div class="container">
    <a href="mailto:we.worldedit@gmail.com" id="contact">CONTACT US</a>
      <p class="copyright">
        &copy; 2014 WE media.
      </p>
    </div>
  </footer>
  <script src="http://platform.tumblr.com/v1/share.js"></script>
</body>
</html>