  <%= render 'shared/site_header' %>
  <div style="position:absolute;">
    <% if @user.profile_picture_url %>
      <% if current_user && current_user == @user %>
        <%= link_to edit_user_registration_path do %>
          <div class="glyphicon glyphicon-camera" style="position:absolute;color:white;font-size:20px;bottom:5px;left:5px;top: inherit;text-shadow:0 0px 10px rgba(0, 0, 0, 1);"></div>
        <% end %>
      <% end %>
      <%= image_tag @user.profile_picture_url(:thumb), :width => 100 %>
    <% end %>
  </div>
  <div id="nav">
    <nav class="navbar" id="user-actions">
      <ul class="nav">
        <% if admin_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <li>
              <%= link_to('Edit', edit_user_registration_path) %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Login', new_user_session_path, :data => {:toggle => 'modal', :target => '#login'}  %>
            </li>
            <li>
              <%= link_to 'Register', new_user_registration_path, :data => {:toggle => 'modal', :target => '#register'}  %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<%= render 'shared/logo' %>
<nav class="navbar">
  <div class="container">
    <%= render 'shared/filter' %>
    <%= render 'shared/navbar_right' %>
  </div>
</nav>
<%= render 'shared/content' %>
<%= render 'shared/site_footer' %>
<%= render 'shared/auth' %>